### Importing the necessary libraries

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from warnings import filterwarnings
filterwarnings('ignore')

In [39]:
station = pd.read_csv(r"C:\Users\GAGANA\Documents\Data Analytics\Blog\Delhi-Metro-Network.csv")
stops = pd.read_csv(r"C:\Users\GAGANA\Documents\Data Analytics\Blog\DMRC_GTFS\stops.txt")

In [41]:
station.head()

,Station ID,Station Name,Distance from Start (km),Line,Opening Date,Station Layout,Latitude,Longitude
0,1,Jhil Mil,10.3,Red line,2008-04-06,Elevated,28.675790,77.312390
1,2,Welcome [Conn: Red],46.8,Pink line,2018-10-31,Elevated,28.671800,77.277560
2,3,DLF Phase 3,10.0,Rapid Metro,2013-11-14,Elevated,28.493600,77.093500
3,4,Okhla NSIC,23.8,Magenta line,2017-12-25,Elevated,28.554483,77.264849
4,5,Dwarka Mor,10.2,Blue line,2005-12-30,Elevated,28.619320,77.033260

In [43]:
stops.head()

   stop_id  stop_code       stop_name  stop_desc   stop_lat   stop_lon
0        1        NaN  Dilshad Garden        NaN  28.675991  77.321495
1        2        NaN         Jhilmil        NaN  28.675648  77.312393
2        3        NaN  Mansrover park        NaN  28.675352  77.301178
3        4        NaN        Shahdara        NaN  28.673531  77.287270
4        5        NaN         Welcome        NaN  28.671986  77.277931

In our dataset we have the columns called Patient_ID, Age, Gender, Country, Ethnicity, Family_History, Radiation_Exposure, Iodine_Deficiency, Smoking, Obesity, Diabetes, TSH_Level, T3_Level,	T4_Level, Nodule_Size, Thyroid_Cancer_Risk,	Diagnosis

### Data cleaning

In [10]:
# Checking duplicates

df[df.duplicated()]

Empty DataFrame
Columns: [Patient_ID, Age, Gender, Country, Ethnicity, Family_History, Radiation_Exposure, Iodine_Deficiency, Smoking, Obesity, Diabetes, TSH_Level, T3_Level, T4_Level, Nodule_Size, Thyroid_Cancer_Risk, Diagnosis]
Index: []

In [12]:
# checking null values

df.isnull().sum()

Patient_ID             0
Age                    0
Gender                 0
Country                0
Ethnicity              0
Family_History         0
Radiation_Exposure     0
Iodine_Deficiency      0
Smoking                0
Obesity                0
Diabetes               0
TSH_Level              0
T3_Level               0
T4_Level               0
Nodule_Size            0
Thyroid_Cancer_Risk    0
Diagnosis              0
dtype: int64

In [33]:
shapes = pd.read_csv(r"C:\Users\GAGANA\Documents\Data Analytics\Blog\DMRC_GTFS\shapes.txt")
calendar = pd.read_csv(r"C:\Users\GAGANA\Documents\Data Analytics\Blog\DMRC_GTFS\calendar.txt")
routes = pd.read_csv(r"C:\Users\GAGANA\Documents\Data Analytics\Blog\DMRC_GTFS\routes.txt")
stop_times = pd.read_csv(r"C:\Users\GAGANA\Documents\Data Analytics\Blog\DMRC_GTFS\stop_times.txt")
stops = pd.read_csv(r"C:\Users\GAGANA\Documents\Data Analytics\Blog\DMRC_GTFS\stops.txt")
trips = pd.read_csv(r"C:\Users\GAGANA\Documents\Data Analytics\Blog\DMRC_GTFS\trips.txt")

In [47]:
routes

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color,route_sort_order,continuous_pickup,continuous_drop_off
0,33,NaN,R_SP_R,RAPID_Phase 3 (Rapid Metro) to Sector 55-56 (R...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
1,31,NaN,G_DD_R,GRAY_Dhansa Bus Stand to Dwarka,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
2,29,NaN,P_MS_R,PINK_Shiv Vihar to Majlis Park,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
3,12,NaN,M_JB,MAGENTA_Janak Puri West to Botanical Garden,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
4,11,NaN,P_MS,PINK_Majlis Park to Shiv Vihar,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
5,18,NaN,R_RD_R,RED_Dilshad Garden to Rithala,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
6,9,NaN,V_KB,VIOLET_Kashmere Gate to Badarpur Border,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
7,1,NaN,R_RS,RED_Rithala to Shaheed Sthal (New Bus Adda),NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
8,22,NaN,Y_HQ_R,YELLOW_Qutab Minar to Huda City Centre,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
9,8,NaN,G_IB,GREEN_Inderlok to Brigadier Hoshiyar Singh,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
10,0,NaN,R_RD,RED_Rithala to Dilshad Garden,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
11,17,NaN,A_ND,AQUA_Noida Sector 142 to Depot Station,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
12,28,NaN,V_KR_R,VIOLET_Raja Nahar Singh to Kashmere Gate,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
13,19,NaN,R_RS_R,RED_Shaheed Sthal (New Bus Adda) to Rithala,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
14,4,NaN,Y_HQ,YELLOW_Huda City Centre to Qutab Minar,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
15,5,NaN,B_DN,BLUE_Dwarka Sector - 21 to Noida Electronic City,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
16,30,NaN,M_JB_R,MAGENTA_Botanical Garden to Janak Puri West,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
17,6,NaN,B_DV,BLUE_Dwarka Sector - 21 to Vaishali,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
18,3,NaN,Y_QV,YELLOW_Qutab Minar to Vishwavidyalaya,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
19,16,NaN,A_NN,AQUA_Noida Sector 51 to Noida Sector 142,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
20,7,NaN,G_KB,GREEN_Kirti Nagar to Brigadier Hoshiyar Singh,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
21,10,NaN,V_KR,VIOLET_Kashmere Gate to Raja Nahar Singh,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
22,35,NaN,A_ND_R,AQUA_Depot Station to Noida Sector 142,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
23,27,NaN,V_KB_R,VIOLET_Badarpur Border to Kashmere Gate,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
24,13,NaN,G_DD,GRAY_Dwarka to Dhansa Bus Stand,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
25,15,NaN,R_SP,RAPID_Sector 55-56 (Rapid Metro) to Phase 3 (R...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
26,34,NaN,A_NN_R,AQUA_Noida Sector 142 to Noida Sector 51,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
27,14,NaN,O_DN,ORANGE/AIRPORT_Dwarka Sector - 21 to New Delhi,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
28,32,NaN,O_DN_R,ORANGE/AIRPORT_New Delhi to Dwarka Sector - 21,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
29,26,NaN,G_IB_R,GREEN_Brigadier Hoshiyar Singh to Inderlok,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
30,20,NaN,Y_HS_R,YELLOW_Samaypur Badli to Huda City Centre,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
31,21,NaN,Y_QV_R,YELLOW_Vishwavidyalaya to Qutab Minar,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
32,23,NaN,B_DN_R,BLUE_Noida Electronic City to Dwarka Sector - 21,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
33,24,NaN,B_DV_R,BLUE_Vaishali to Dwarka Sector - 21,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
34,2,NaN,Y_HS,YELLOW_Huda City Centre to Samaypur Badli,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
35,25,NaN,G_KB_R,GREEN_Brigadier Hoshiyar Singh to Kirti Nagar,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN